body{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

/* Header link */
.home-link{
  cursor: pointer;
}

#content {
  position: fixed;
  top: 0;
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  text-align: center;
  place-content: center;
  margin: auto;
  margin-top: 40px;
  font-family: system-ui, sans-serif;
  background-color: #F2E9DE;
  z-index: 2;
}

/* Hover effect on h1 ↓ */
h1 {
  position: relative;
  font-size: 5rem;
}

h1:first-child{
  margin-top: 50px !important;
}

h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

/* Homepage create Game button ↓ */
.create-btn {
  width: 180px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  margin: 10px 25px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-color: lightgray !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  z-index: 1;
  font-weight: bold !important;
}

.create-btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #24d138;
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.create-btn:hover {
  color: #fff;
}
.create-btn:hover:after {
  left: 0;
  width: 100%;
}
.create-btn:active {
  top: 2px;
}

.typing-demo {
  width: 13ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  margin: 50px auto;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}


/* Icon in App.js */
#save-icon{
  width: 20px;
  height: 20px;
}

/* Radio choices on Homepage */
.radio-box{
  border-radius: 15%;
  display: inline-block;
  width: 20%;
  margin: 15px;
  cursor: pointer;
}

.box-selected{
  border-radius: 25%;
  box-shadow: 0 0 0 5px #353b48;
}

.radio-box:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22), 0 0 0 5px #353b48;
}


.ribbon {
  position: relative !important;
  top: -85px !important;
  left: 32px !important;
}

.ribbon-unselected {
  position: relative !important;
  top: -85px !important;
  left: 36px !important;
}

/* Color button on the board */
#color-button{
  padding: 8px;
  margin: 8px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
}

/* Board bar */
.bar:hover{
  transform: rotateX(90);
  cursor: pointer;
}